.arkpassive {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 47px;
  background: #1e1e1e;
  border-radius: 4px;
  width: auto;
  height: 84px;
  box-sizing: border-box;
}

.arkpassive-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 64px;
  height: 52px;
}

.arkpassive-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #22233f;
  border-radius: 8px;
  height: 25px;
  width: 64px;
  color: #dfdfdf;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.arkpassive-value {
  width: 64px;
  height: 19px;
  color: #dfdfdf;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}
