.character-select-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1036px;
  height: auto;
  min-height: 58px;
  background-color: #1e1e1e;
  border-radius: 4px;
}

.character-info {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #6b83e1;
  line-height: 100%;
}

.character-name {
  color: #6b83e1;
}

.character-select-button-group {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

.character-select-btn {
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px 12px;
  width: auto;
  white-space: nowrap;
}
.refresh {
  flex-direction: row;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #dfdfdf;
  width: 60px;
  height: 25px;
  background: #3f4044;
}

.change {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: 94px;
  height: 26px;
  background-color: rgba(107, 131, 225, 1);
}
.select {
  height: 26px;
  background-color: rgba(107, 131, 225, 1);
}
.character-select-btn:hover {
  background: rgba(61, 63, 68, 1);
}

.character-select-btn.character-select-icon {
  width: 18px;
  height: 18px;
}

.server-button {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  min-width: 100px;
  height: 30px;
  background: #3f4044;
  color: #dfdfdf;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
}

.server-button.active {
  background: rgba(80, 81, 85, 1);
}
