.reset-password-modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px 32px;
    gap: 24px;

    position: absolute;
    width: 368px;
    height: 379px;
    left: calc(50% - 432px/2 + 68px);
    top: calc(50% - 427px/2 + 0.5px);

    background: #1E1E1E;
    border-radius: 8px;

}

.reset-password-modal-title-row{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 368px;
    height: 24px;

}

.reset-password-modal-title{


width: 114px;
height: 21px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #DFDFDF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


}

.reset-password-modal-input-box{
  
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 368px;
height: 251px;


}

.reset-password-modal-input-row{

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 368px;
height: 73px;

}

.reset-password-modal-input-txt-row{
    
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 119px;
height: 18px;



}

.reset-password-modal-input-txt{
    /* 현재 비밀번호 * */

width: 93px;
height: 18px;

font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;


color: #DFDFDF;

}

.reset-password-modal-input{


box-sizing: border-box;


display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 32px 12px 24px;
gap: 10px;

width: 368px;
height: 43px;

background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 12px;

color: #3E3E3E;

}

.reset-password-modal-button-row{

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 368px;
height: 56px;


}

.reset-password-modal-button-row-btn{

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 10px;

width: 172px;
height: 56px;

background: #2C2F34;
border-radius: 10px;


font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;

border: 0;

cursor: pointer;

white-space: nowrap;

}